.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: #F8F9FA;
    min-height: 100vh;
  }
  
  .hero-left {
    width: 50%;
    padding: 20px;
  }
  
  .hero-left h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFC107;
  }
  
  .hero-left h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2E7D32;
  }
  
  .hero-left p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .reserve-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
  }
  
  .reserve-button:hover {
    background-color: #555;
  }
  
  .hero-right {
    width: 50%;
    padding: 20px;
  }
  
  .hero-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
  }
  
  .hero-image:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 768px){
    .hero-container {
      flex-direction: column;
    }
    .hero-left, .hero-right {
      flex: 1;
      width: 100%;
    }
  }