/* About.css */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* margin: 20px; */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
  }
  
  .about-left {
    flex: 1;
    margin-right: 20px;
  }
  
  .about-right {
    flex: 1;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  
  .about-image {
    position: relative;
  }
  
  .image-1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
  }
  
  .image-2 {
    position: absolute;
    top: 75%;
    left: 75%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
  }